/*Container Rules*/

.container {
    max-width: 1100px;
    margin: 0 auto;
}

/*Headers Rules*/

#title {
    padding: 15px;
    background-color: #4EA0FF;
    background-image: url(../img/pattern.png);
    background-size: contain;
}

#logo {
    width: 200px;
}

.writted-by {
    color: lightslategray;
}

a {
    text-decoration: none;
    color: #42BDEE;
}

address {
    font-size: 0.8em;
}

ul {
    padding: 0;
    list-style-position: inside;
}

/*Table Rules*/ 

table {
    border-spacing: 0;
    text-align: left;
}

thead {
    background-color: #20A9E5;
    color: white;
}

.azure {
    background-color: #B1E5F2;
}

.terza {
    width: 50%;
}

/*Also Like Rules*/

.also-like {
    width: 400px;
    height: 200px;
    background-image: url(../img/monitor.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0;
}

.also-like2 {
    width: 400px;
    height: 200px;
    background-image: url(../img/graph.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0;
}

.img-title {
    color: white;
    padding: 10px;
}