.container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
}

/* body {
    background-image: url(../img/pattern.png);
    background-color: azure;
} */

#logo {
    width: 200px;
}

.writted-by {
    color: lightslategray;
}

a {
    text-decoration: none;
}

figure {
    margin: 0;
}

.tim {
    width: 45%;
}